.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(0, 30, 60);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-field {
  padding-bottom: 20px;
}

.row-items {
  display: flex;
  flex-direction: row;
}

.filter-checkbox {
  vertical-align: bottom;
  padding-right: 30px;
  padding-top: 8px;
  text-align: justify;
}

/* Playlist Configuration */
.playlist-configuration {
  margin: auto;
  width: 58%;
  padding: 10px;
  padding-left: 170px;
}

.playlist-details {
  padding-bottom: 30px;
  padding-left: 60px;
}

/* .is-public-switch {
  margin-top: 25px;
  padding-left: 15px;
} */


/* Loading spinner */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #444b59;
  border-top: 10px solid #1976d2;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.spinner-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 350px;
}

.MuiOutlinedInput-notchedOutline {
  border-width: 1px !important;
  border-color: #6db4fc !important;
}

.playlist-details MuiOutlinedInput-notchedOutline {
  border-width: 2px !important;
  border-color: #6db4fc !important;
  font-size: 20px;
}

.playlist-details Mui-focused {
  color: white !important;
}

.playlist-details MuiInputLabel-root {
  font-size: 20px !important;
}

.playlist-details MuiInputBase-input {
  color: white !important;
}

.multiple-select-chip {
  padding-bottom: 10px;
}

.back-to-main-page-button {
  padding-top: 30px;
}

.select-chips {
  padding-bottom: 25px;
}

@keyframes skew-y-shakeing {
  0% {
    transform: skewY(-5deg);
  }
  5% {
    transform: skewY(5deg);
  }
  10% {
    transform: skewY(-5deg);
  }
  15% {
    transform: skewY(5deg);
  }
  20% {
    transform: skewY(0deg);
  }
  100% {
    transform: skewY(0deg);
  }
}

.error-message {
  animation: skew-y-shakeing 1.5s;
  color: red;
  font-size: large;
}

.range-slider {
  padding-left: 10px;
}

.range-slider-tooltip {
  padding-right: 3px;
  padding-top: 25px;
}

.select-chip-tooltip {
  padding-right: 3px;
  padding-top: 7px;
}

.photo-dropzone:hover {
  cursor: pointer;
}

.photo-preview {
  padding-bottom: 10px;
}

.popup {
  padding-top: 10px;
}

.display-line-break {
  white-space: pre-line;
}

.send-button {
  padding-top: 20px;
}

/* Toggle Button */
.MuiToggleButton-root.Mui-selected {
  background-color: #6db4fc !important;
  color: rgb(0, 30, 60) !important;
}

.toggle-button {
  padding-bottom: 20px;
}

.toggle-button-icon {
  padding-right: 10px;
}
