.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(0, 30, 60);;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.toggle-button {
  padding-bottom: 20px;
}

.text-field {
  padding-bottom: 20px;
}

.row-items {
  display: flex;
  flex-direction: row;
}

.filter-checkbox {
  vertical-align: bottom;
  padding-right: 30px;
  padding-top: 27px;
  text-align: justify;
}

.playlist-configuration {
  margin: auto;
  width: 50%;
  padding: 10px;
  padding-bottom: 30px;
  padding-left: 265px;
}

.playlist-details {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 210px;
}

.is-public-switch {
  margin-top: 25px;
  padding-left: 15px;
}

.data-section {
  padding-right: 220px;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #444b59;
  border-top: 10px solid #1976d2;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.spinner-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 350px;
}

.error-page {
  background-color: #070713;
}

.MuiOutlinedInput-notchedOutline {
  border-width: 1px !important;
  border-color: #1976d2 !important;
}

.multiple-select-chip {
  padding-top: 20px;
}

.back-to-main-page-button {
  padding-top: 30px;
}