# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/client/node_modules/
/client/.pnp
/client/.pnp.js

# testing
/client/coverage

# production
/client/build/

# misc
/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local
/client/.env.development
/client/.env.production
/client/.eslintrc.json

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

# Python
/.idea/misc.xml
/.idea/modules.xml
/.idea/playlists-creator.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.DS_Store

# Data
/server/resources/playlists_creator_database.csv
/server/resources/z_scores_metadata.json
/server/resources/playlist_imitator_database.csv
/server/resources/pipeline.pkl
/server/resources/track_names_embeddings.csv
