flask[async]==2.2.3
flask_cors==3.0.10
aiohttp==3.8.4
dataclasses-json==0.5.7
pandas==1.5.3
openai==0.27.5
gunicorn==20.1.0
numpy==1.24.3
opencv-python==4.7.0.72
pytesseract==0.3.10
tqdm==4.65.0
Werkzeug==2.2.3
asyncio-pool==0.6.0
google-api-python-client==2.87.0
scikit-learn==1.2.2