.row-items {
    display: flex;
    flex-direction: row;
}

.filter-checkbox {
    vertical-align: bottom;
    padding-left: 5%;
    padding-top: 9%;
    text-align: justify;
}

.playlist-configuration {
    margin: auto;
    width: 50%;
    padding: 10px;
    padding-bottom: 30px;
}

.playlist-details {
    padding-bottom: 30px;
}

.is-public-switch {
    /* position: fixed; */
    padding-top: 24px;
    padding-left: 820px;
}

.data-section {
    padding-right: 220px;
}